<% if current_user.profile.blank?%>
<h4><i class =" fa fa-user-plus" aria-hidden="true">  Please Create Your Profile  
</h4></i>
<%= link_to 'Create Profile' , new_profile_path, class: 'btn btn-primary col-md-6'%>
<%else%>
</div>

<div class = "row">
<div class = "form">
<div class = "col-6">
<h4><%= current_user.profile.lastname.humanize %>,<%= current_user.profile.firstname.humanize %>  
</h4>
<%= link_to 'Edit Profile', edit_profile_path(current_user.profile), class: "fa fa-edit fa-lg" %>
<%if current_user.roles.any? %>

 Position: ADMIN
<%end%>
<% if current_user.profile.avatar.attached? %>
  <%=image_tag current_user.profile.avatar , class: "rounded-circle"%>
<%else%>
  
  No Image Uploaded!
  <%end%>
</div>
</div>
<div class = "col-6">
<div class = "file">
<div class = "form-inline">
  Contact Number:
  <%= current_user.profile.number %> 
</div>
  <br>

  Address: 
  <div class = "form-inline">
  <span>
    <u>
    <div class= "form-control">
    <%= current_user.profile.street %>  
    <%= current_user.profile.bldg %>  
    <br></u>
  </span>  
    </div>
  </div>
  <span><u>
  <div class= "form-control">
  <%= current_user.profile.city %>  
  <%= current_user.profile.province %> 
  </span></u>
  </div>
  
  <br> 
  Civil Status:
  <%= current_user.profile.status %>  
  </div>
  </div>

<%end%>
