<div class = "container">
    <div class = "row">
        <div class = "col">
            REPORT FOR DAY:
            <%= @time %>  
                <% @days.each do |daily| %>
                    <div class="container">
                        <ul>
                        <textarea><%= daily.daily_report %></textarea><br>
                        <%= I18n.l(daily.created_at, format: "%a %m.%d.%y").to_s %>
                        </ul>
                    </div>
                <% end %>
        </div>
        <div class = "col">
            <%= render template: "recipients/index", locals: { recipients: @recipients } %>
        </div>
    </div><br><br>
    <div class="row">
        <%= link_to 'Send Now', daily_home_index_url, class: 'btn btn-lg btn-secondary' %>
    </div>  