<div class="container">
<div class = "pad3"><i class = "fa fa-id-badge fa-5x"></i></div>
<div class= "pad"><h1>Sign in</h1>
<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-signin"}) do |f| %>
  
  <div class="input-group margin-bottom-sm"><table>
  <tr>  
    <td><span class="input-group-addon"><i class="fa fa-user fa-3x"></i></span></td>
    <%= f.label :name, 'USERNAME', class: 'sr-only' %>
    <td><%= f.text_field :name, autofocus: true, autocomplete: "off", class: 'form-control-lg', placeholder: 'Username' %>
    </td></div></tr>  
  <tr><div class="input-group">
  <td><span class="input-group-addon"><i class="fa fa-key fa-3x"></i></span></td>

    <%= f.label :password, 'Password', class: 'sr-only' %>
    <td><%= f.password_field :password, autocomplete: "off", class: 'form-control-lg', placeholder: 'Password' %>
  </td></div></tr>
  </table>
  </div>
<div class = "pad2">
  <% if devise_mapping.rememberable? %>
  <label>
  <%= f.check_box :remember_me, label: false %>
  Remember me
  </label>  
  <% end %>
 
  <div class="actions">
    
    <%= f.submit "Log in" %>
  </div>
<%= render "devise/shared/links" %>
<% end %>
</div>
</div>
</div>
