<%= form_with(model: report, local: true) do |form| %>
  <% if report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
        <% report.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="d-flex justify-content-center">
  <div class = "container">        
  <div class="form-group col-6 col-md-4">
    <label for="project_id">Select Project:</label>
    <select class="form-control" name="report[project_id]" id="report_project_id" >
      <option selected="true" value=""> Select All </option>
      <% current_user.projects.each do |project| %>
        <option value = <%= project.id %>> <%= project.name %> </option>
      <% end %>
    </select>
  </div>

  <div class="col-xs-6 col-md-4">
  <div class="field">
  <%= form.label :content%>
  <%= form.text_area :content, :rows => 10, style: 'width:100%;' %>
  </div>

  
  </div>
 <br>
 <div class="col-xs-6 col-md-4">
  <div class="field">
  <%= form.label :content%>
  <%= form.date_field :startTime%>
  </div>
  </div>
 <br>

  <div class="actions">
    <%= form.submit %>
  </div>
</div>
</div>  
<% end %>
